*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
html{

}
body{
    font-size: 13px;
    font-family: Arial, sans-serif;
}
.banner img{
    border: 1px solid black;
}

.menu{
    background-color: #3097d1;
    /* margin-bottom: 10px; */
    margin-top: 1px;
    
}
.menu ul a.li{
    min-width: 100px;
}
.menu ul{
    padding-right: 107px;
}
.menu ul li > a{
    color: azure;
    text-decoration: none;
    text-transform: uppercase;
}
a.nav-link {
    color: #fff;
    display: block;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    padding: 0 20px !important;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
a {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #005094;
    text-decoration: none;
}
.btn-timsim{
    background-color: cornflowerblue;
    color: aliceblue;
}
.box2{


}

#head2s{
    margin: 0px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-family: Arial,sans-serif;
    font-size: 14px;
    padding: 5px 13px;
    line-height: inherit;
    display: inline-block;
    text-transform: uppercase;
    background: #3097d1;
}
.b2-list{
    /* width: 100%; */
    width: 100%;
    margin: 0 10px;
}
.b2-item{
    font-size: 13px;
    font-weight: 700;
    color: #005064;
    text-transform: capitalize;
    min-width: 191px;
    margin: 300px 0 ;
}
.b2-list > li{
    margin: 10px 0;
}
.b2-list > li > a{
    text-decoration: none;
}
.b2-list > li > a:hover{
    color: #3097d1
}

#head3s{
    margin: 0px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-family: Arial,sans-serif;
    font-size: 14px;
    padding: 5px 13px;
    line-height: inherit;
    display: inline-block;
    text-transform: uppercase;
    background: #3097d1;
}
.b3-list{
    /* width: 100%; */
    width: 100%;
    margin: 0 10px;
}
.b3-item{
    font-size: 13px;
    font-weight: 700;
    color: #005064;
    text-transform: capitalize;
    min-width: 191px;
    margin: 300px 0 ;
}
.b3-list > li{
    margin: 10px 0;
}
.b3-list > li > a{
    text-decoration: none;
}
.b3-list > li > a:hover{
    color: #3097d1
}
/* Sim theo mang */
#head4s{
    margin: 0px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-family: Arial,sans-serif;
    font-size: 14px;
    padding: 5px 13px;
    line-height: inherit;
    display: inline-block;
    text-transform: uppercase;
    background: #3097d1;
}
.b4-list{
    /* width: 100%; */
    width: 100%;
    margin: 0 10px;
}
.b4-item{
    font-size: 13px;
    font-weight: 700;
    color: #005064;
    text-transform: capitalize;
    min-width: 191px;
    margin: 300px 0 ;
}
.b4-list > li{
    margin: 10px 0;
}
.b4-list > li > a{
    text-decoration: none;
}
.b4-list > li > a:hover{
    color: #3097d1
}
@media only screen and (max-width: 780px){
    .pc{
        display: none;
    }
    .npc{

    }
    .npc ul > li > a{
        color: #005064;
    }

}
.content{
    background-color: white;
    margin: 0 5px;
    padding: 0;
}
.box5{
    background-color: #3097d1;
    margin: 0;
}
.box6{
    background-color: white;
    color: black;
    margin: 0;
    min-width: 100px;
    width: 100%;
    min-height: 30px;
    margin-top: 5px;
    margin-bottom: -10px;
}
.box5 h1{
    font-size: 17px;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    line-height: 15px;
    color: white;
    font-style: inherit;
    font-weight: 700;
    letter-spacing: 0.1rem;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    text-transform: uppercase;
}
.bl-1{
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}

#bl-2 ul.huongdan {
    padding-top: 10px;
    display: none;
}
#bl-2 {
    width: 100%;
    background: #1d9ce5;
    margin: 0 auto;
    text-align: left;
    margin-top: 2px;
}
#bl-2 li {
    display: list-item;
    color: #fff;
    list-style-type: disc;
    line-height: initial;
}

#txtse {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 36px;
    border: 1px #0098db solid;
    border-radius: 1.3rem;
    outline: blue;


}
#bl-2 > div {
    padding-top: 0!important;
    position: relative;

}
.btntim {
    position: absolute;
    right: 9px;
    top: 1px;
    height: 34px;
    border: 1px solid #fff;
    background: #1d9ce5;
    width: 100px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    border-radius: 1.3rem;
    cursor: pointer;
}
input:focus{
    box-shadow: 0 0 4px rgb(230, 197, 12);
    border: 1px solid rgb(230, 197, 12);
}
.huongdan {
    display: block;
    margin-left: 2px;
    padding-left: 15px;
    display: block;
}
.bl-2{
    margin: 0;
    padding: 0;
}
.nt{
    color: black;

}

.nt .nt-bl{
    color: black;
}
.nt-fl{
    text-
}
.box7{
    background-color: white;
    color: white;
    margin: 0;
    width: 100%;
    min-height: 50px;
}
/* Ipad Pro */
.bl4{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.btn{
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 48px;
    border-radius: 100px;
    cursor: pointer;
    transition: opacity .2 ease;
    min-width: 140px;
    min-height: 10px;
    margin-top: 6px;
    text-transform: capitalize;
}
.border{
    
}
.btn-x{
    background-color: #1d9ce5;
}
.btn-y{
    background-color: white;
    color: black;
}
.btn:hover{
    /* Làm mờ đi 1 chút */
    opacity: 0.8;
}
.box8{
    background-color: white;
    color: white;
    margin-top: 10px;
    width: 100%;
    min-height: 50px;
}
.prdimg{
    margin-top: 6px;
}
.prd1 .br-img {
    background-image: url('../imgs/Origin/viettel.svg');

    background-position: center;
    background-repeat: no-repeat;
}
.cb{
    color: #005094;
    font-weight: bold;
}
.cr{
    color: red;
    font-weight: bold;
}
.prd-bl{
    font-style: initial;
    font-size: 18px;
}
.prd-border{
    /* box-shadow: 0 0px 1000px 1000px rgba(0, 0, 0, 0.16); */
    border-radius: 3px;
    border-top: none;
    border-left: none;
    border:1px solid #d8d8d8b7;
    /* -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16); */
    z-index: 9999;
    /* box-shadow: 0 8px 6px -6px #005094; */
    box-shadow: 2px 2px #60a5e2;
}
.price{
    text-align: right;
}
.box9{
    background-color: white;
    color: black;
    width: 100%;
    margin-top: 2px;
    border: 1px solid black;
}
.box9 h4 .vt{
    background-image: url('../imgs/Origin/logoviettel.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 50px;
}
.box9 h4 a{

    color: black;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
}
.box9{
    background-color: white;
    color: white;
    margin: 0;
    width: 100%;
    min-height: 50px;
}
.btnn{
    background: #0098db;
    text-transform: uppercase;
    font-weight: 700;
    min-width: 200.75px;
}
.b2-list > .off1 > a:hover {
    color: #005064;
    cursor: grab;
}
.b4-list{
    /* width: 100%; */
    width: 100%;
    margin: 0 10px;
}
.b4-item{
    font-size: 13px;
    font-weight: 700;
    color: #005064;
    text-transform: capitalize;
    min-width: 191px;
    margin: 300px 0 ;
}
.b4-list > li{
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 1.3rem;
    min-height: 35px;
    max-width: 190px;
    line-height: 35px;
    background: #1d9ce5;
    padding-left: 10px;
}
.b4-list > li > a{
    text-decoration: none;
    padding: 0 20px;
    color: #fff;
}
.b4-list > li:hover a{
    opacity: 1;
    color: rgb(20, 17, 12);
}
@media only screen and (min-width: 1024px){
    .npc{
        display: none;
    }
}
@media screen and (max-width: 780px) {

}





