*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body{
    font-size: 13px;
    font-family: Arial, sans-serif;
}
.menu{
    background-color: #3097d1;
    /* margin-bottom: 10px; */
    margin-top: 1px;
}
.menu ul a.li{
    min-width: 100px;
}
.menu ul{
    padding-right: 107px;
}
.menu ul li > a{
    color: azure;
    text-decoration: none;
    text-transform: uppercase;
}
a.nav-link {
    color: #fff;
    display: block;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    padding: 0 20px !important;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
a {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #005094;
    text-decoration: none;
}
.btn-timsim{
    background-color: cornflowerblue;
    color: aliceblue;
}
#head1s, #head2s,
 #head3s, #head4s,
  #head5s, #head6s, 
   #head7s, #head8s
{
    margin: 0px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-family: Arial,sans-serif;
    font-size: 14px;
    padding: 5px 13px;
    line-height: inherit;
    display: inline-block;
    text-transform: uppercase;
    background: #3097d1;
}

.b2-list{
    /* width: 100%; */
    width: 100%;
    margin: 0 10px;
}
.b2-item{
    font-size: 13px;
    font-weight: 700;
    color: #005064;
    text-transform: capitalize;
    min-width: 191px;
    margin: 300px 0 ;
}
.b2-list > li{
    margin: 10px 0;
}
.b2-list > li > a{
    text-decoration: none;
}
.b2-list > li > a:hover{
    color: #3097d1
}
.box1 .a{
    margin: 0px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-family: Arial,sans-serif;
    font-size: 14px;
    padding: 5px 13px;
    line-height: inherit;
    display: inline-block;
    text-transform: uppercase;
    background: #3097d1;
}
.b3-list{
    /* width: 100%; */
    width: 100%;
    margin: 0 10px;
}
.b3-item{
    font-size: 13px;
    font-weight: 700;
    color: #005064;
    text-transform: capitalize;
    min-width: 191px;
    margin: 300px 0 ;
}
.b3-list > li{
    margin: 10px 0;
}
.b3-list > li > a{
    text-decoration: none;
}
.b3-list > li > a:hover{
    color: #3097d1
}
/* Sim theo mang */

.b4-list{
    /* width: 100%; */
    width: 100%;
    margin: 0 10px;
}
.b4-item{
    font-size: 13px;
    font-weight: 700;
    color: #005064;
    text-transform: capitalize;
    min-width: 191px;
    margin: 300px 0 ;
}
.b4-list > li{
    margin: 10px 0;
}
.b4-list > li > a{
    text-decoration: none;
}
.b4-list > li > a:hover{
    color: #3097d1
}

@media only screen and (min-width: 780px){
    #main{
        margin: 0px 10px 0px 10px;
    }

}

@media only screen and (max-width: 780px){
    .ctmd .box4g > .bitem{
        width: 49% !important;
    }
    .ds-ct{
        max-height: 270px;
    }

    .npc ul > li > a{
        color: #005064;
    }
    .des-tg{
        padding: 0 10px;
    }
    .des-tg-dt img{
        width: 100% !important;
        height: auto !important;
    }
    ..des-tg-dt{
        padding: 0 10px;
        text-align: justify;
    }

}


.box5{
    background-color: #0098db;
    margin: 0;
}
.box6{
    background-color: white;
    color: black;
    margin: 0;
    min-width: 100px;
    width: 100%;
    min-height: auto;
    margin-top: 5px;
}
.fs-17{
    font-size: 17px;
}
.box5 h1{
    font-size: 17px;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    line-height: 15px;
    color: white;
    font-style: inherit;
    font-weight: 700;
    letter-spacing: 0.1rem;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    text-transform: uppercase;
}
.bl-1{
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}
#bl-2 ul.huongdan {
    padding-top: 10px;
    display: none;
}
#bl-2 {
    width: 100%;
    background: #1d9ce5;
    margin: 0 auto;
    text-align: left;
    margin-top: 2px;
}
#bl-2 li {
    display: list-item;
    color: #fff;
    list-style-type: disc;
    line-height: initial;
}

#bl-4 ul.huongdan {
    padding-top: 10px;
    display: none;
}
#bl-4 {
    width: 100%;
    background: #1d9ce5;
    margin: 0 auto;
    text-align: left;
    margin-top: 2px;
}
#bl-4 li {
    display: list-item;
    color: #fff;
    list-style-type: disc;
    line-height: initial;
}

#txtse {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 36px;
    border: 1px solid #0098db ; 
    border-radius: 0.3rem;
    outline: blue;
}
#bl-2 > div {
    padding-top: 0!important;
    position: relative;
}
#bl-4 > div {
    padding-top: 0!important;
    position: relative;
}
.btntim {
    position: absolute;
    right: 9px;
    top: 1px;
    height: 34px;
    border: 2px #3097d1 double rgb(15, 13, 4); 
    background: #5490b3;
    width: 150px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    border-radius: 0.3rem;
    cursor: pointer;
}
.btntim:hover{
    opacity: 1 !important;
    background-color: rgb(53, 143, 216) !important;
}
.bl-2{
    margin: 0;
    padding: 0;
}
.bl-2{
    margin: 0;
    padding: 0;
}
.nt{
    color: black;
}
.nt .nt-bl{
    color: black;
}
.box7{
    background-color: white;
    color: white;
    margin: 0;
    width: 100%;
    min-height: auto;
}
/* Ipad Pro */
.bl4{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.btn{
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 48px;
    border-radius: 100px;
    cursor: pointer;
    transition: opacity 0.2 ease;
    min-width: 140px;
    min-height: 10px;
    margin-top: 6px;
    text-transform: capitalize;
}
.btn-x{
    background-color: #1d9ce5;
}
.btn-y{
    background-color: white;
    color: black;
}
.btn:hover{
    /* Làm mờ đi 1 chút */
    opacity: 0.8;
}
.box8{
    background-color: white;
    color: white;
    margin-top: 10px;
    width: 100%;
    min-height: 50px;
}
.prdimg{
    margin-top: 6px;
}
.prd1 .br-img {
    background-image: url('../imgs/Origin/viettel.svg');

    background-position: center;
    background-repeat: no-repeat;
}
.cb{
    color: #005094;
    font-weight: bold;
}
.cr{
    color: red;
    font-weight: bold;
}
.prd-bl{
    font-style: initial;
    font-size: 18px;
}
.prd-border{
    /* box-shadow: 0 0px 1000px 1000px rgba(0, 0, 0, 0.16); */
    border-radius: 3px;
    border-top: none;
    border-left: none;
    border:1px solid #d8d8d8b7;
    /* -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16); */
    z-index: 9999;
    /* box-shadow: 0 8px 6px -6px #005094; */
    box-shadow: 2px 2px #60a5e2;
}
.price{
    text-align: right;
}
.box9 h4 .vt{
    background-image: url('../imgs/Origin/logoviettel.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 50px;
}
.box9 h4 a{
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
}
.box9{
    background-color: white;
    color: white;
    margin: 0;
    width: 100%;
    min-height: 50px;
}
.btnn{
    background: #0098db;
    text-transform: uppercase;
    font-weight: 700;
    /* min-width: 200.75px; */
    min-width: 200.75px;
}
.b2-list > .off1 > a:hover {
    color: #005064;
    cursor: grab;
}
.b5-list{
    /* width: 100%; */
    width: 100%;
    margin: 0 10px;
}
.b5-item{
    font-size: 13px;
    font-weight: 700;
    color: #005064;
    text-transform: capitalize;
    min-width: 191px;
    margin: 300px 0 ;
}
.b5-list > li{
    margin: 10px 0;
    /* border: 1px solid black; */
    border-radius: 1.3rem;
    min-height: 35px;
    max-width: 190px;
    line-height: 35px;
    background: #1d9ce5;
    /* padding-left: 20px; */
}
.b5-list > li > a{
    text-decoration: none;
    padding: 0 20px;
    color: #fff;
}
.b5-list > li:hover a{
    opacity: 1;
    color: rgb(20, 17, 12);
}
.list{
    margin-top: 10px;
}
.list > .litem > a{
    text-decoration: none;
    color: black;
}
.list > .litem:hover > a{
    color: #3097d1;
}
#footer-nav{
    height: 31px;
    line-height: 31px;
    text-align: center;
    border-top: 1px solid black;
    margin-top: 10px;
    background: #e5e6d5;
}
#footer-nav a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
#footer-nav a:hover{
    color: #005094;
}
.copy{
    font-size: medium;
    font-weight: 600;
    margin-top: 10px;
}
.ft-ul{
    width: 100%;
    display: flex;

}
@media only screen and (min-width: 1025px){

    .b5-list{
        padding-left: 0%;
    }


}


.simdep-ul h4{
    font-size: 16px;
     margin: 10px 0;
     padding: 0px;
     padding-top: 8px;
     text-align: left;
     clear: both;

  }
 
  .simdep-ul h4 > a{
    color: black;
    width: 175px;
    line-height: 21px;
    padding-left: 33px;
    font-weight: bold;
    height: 23px;
    margin-bottom: 20px;
    background-size:     contain;                     
    background-repeat:   no-repeat;
    background-position: top left;
}
.simdep-ul h4 > a  {
    background-image: url(../imgs/Origin/logoviettel.png);
    background-position: left top, right top;
    background-repeat:  no-repeat;
    padding: 5px 30px 5px 50px;
}
.simdep-ul.vip h4 > a  {
    background-image: url(../imgs/Origin/vip.gif);
    background-position: left top, right top;
    background-repeat:  no-repeat;
    padding: 5px 30px 5px 50px;
}
.simdep-ul.mobi h4 > a  {
    background-image: url(../imgs/Origin/mobifone.svg);
    background-position: left top, right top;
    background-repeat:  no-repeat;
    padding: 5px 30px 5px 50px;
}
.simdep-ul{
    display: none;
}
.simdep-ul .xemthem a  { 
    padding: 5px 10px;
}
.xemthem {
    float: right;
}
.xemthem a {
    background: #3097d1;
    color: #fff !important;
    cursor: pointer;
    padding: 6px 16px;
    text-decoration: none !important;
    float: right;
    border-radius: 15px;
    font-size: 10px !important;
    margin: 0;
    display: inline-block;
    line-height: normal;
}
.simdep-ul.block{
    display: block;
    position: relative;
}
/* .simdep-ul h4{
    position: absolute;
    right: 0;
    top: -95px;
} */
.simdep-ul h4 > a, .simdenho-vt h4 > a, .simdenho-vn h4 > a, .simdenho-mb h4 > a, .simvip-mb h4 > a {
    font-size: 16px;
    color: #333;
}
.simdep-ul li:nth-of-type(1) {
    clear: both;
}
.sim-dep-li {
    float: left;
    position: relative;
    width: 33.333%;
}
.simcard {
    background: #fff;
    height: auto;
    /* border: 1px solid #ccc; */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px #7d9dd6;
    text-align: right;
}
.simcard i{
    color: #d41515;
    font-style: initial;
}
.simcard .Viettel, .simcard .Mobifone, .simcard .Vinaphone {

    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 11px;
}
.simcard .Viettel {
    background-image: url(../imgs/Origin/viettel.svg);
    /*background-position: -354px -4px;*/
    background-size: auto;
    /*border-left: 1px solid #006d6a;*/
    /*border-bottom: 1px solid #006d6a;*/
}

.sim-display.is-active .sim-display3{
    display: none;
}
.sim-display .qua-127, .sim-display .qua-703,.sim-display .qua-814, .sim-display .qua-128,.sim-display .qua-773,.sim-display .qua-835,.sim-display .qua-844{
    right: -80px;
    top: -7px;
}
.km{
    margin-top: 10px;
    display: inline-block;
}
.km span{
    display: block;
    font-size: 14px;
    color: #333;
    padding: 7px 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #7d9dd6;
    float: left;
    /*font-weight: bold;*/
    cursor: pointer;
}
.km span.active{
    background: #3097d1;
    color: #fff;
}
.km .add1 a{
    color: black;
}.km .add1:hover a{
    color: red;
}
#footer-nav{
    background: #e5e6d5;
}

@media screen and (max-width: 780px){
    #footer-nav {
        height: auto !important;
        padding: 0 10px;
    }    #footer-nav  ul a{
        display: inline-block;
    }
    
    .km-banchay{
        margin-left: 10px;
    }
    .simdep-ul{
        padding: 0 5px;
        display: inline-block;

    }
    .simdep-ul{
        display: none;
    }
    .simdep-ul h4 > a, .simdenho-vt h4 > a, .simdenho-vn h4 > a, .simdenho-mb h4 > a, .simvip-mb h4 > a{
        font-size: 14px;
        text-transform: capitalize;
    }
    .sim-dep-li{
        width:50%;
    }
    .sim-dep-li span {
        font-size: 16px !important;
    }
    .sim-dep-li font {
        font-size: 14px !important;
    }
    .sim-display .qua-127{
        right: -15px;
        top: -6px;
    }
    .sim-display{
        position: relative;
        z-index: 1111;
    }

}

.ctt{
    color: #0098db;
}
@media screen and (min-width: 992px){



    .n992{
        display: none !important;
    }
    .l-n > ul{
        display: none;
    }
    .btntim{
        margin-top: 45px !important;
        outline: none !important;
    }

}
@media screen and (max-width: 769){
    div.z-tt4{
        top: 1918px !important;
        left: 0;
        right: 0;
    }
}

/* =========================================================== */
@media screen and (max-width: 991px) {

    .bnone{
        display: none !important;
    }
    .n9923{
        margin-top: 102px !important;
    }
    .z-tt{
        top: 1920px !important;
    }
    .maintt{
        margin-top: -48px;
    }
    .maintt1{
        margin-top: -108px;
    }
    .r1{
        margin-top: 10px;
    }
    .n9921{
        display: none !important;
    }
    div.n9922{
        display: none !important;
    }
    #sim-tt{
        position: relative;
    top: 1060px;
    }
    .nav-mb{
        margin-bottom: 45px;
    }
    .stgn{
        display: none;
    }
    body{
        font-size: 15px;
    }
    .htkh{
        display: none !important;
    }
    .nav-mb{
        height: 50px;
        margin-top: 33px;
    }
    .box5a{
        border-radius: 0.1rem;
    }
    ul.nul{
        display: none !important;
    }
    .nban{
        display: none;
    }

    .ll{
        position: relative;
    }
    .codinh{
        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 111111111;
    }
    /* .codinh1{
        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
        width: 94%;
        z-index: 11111111111;
        background: #adb5b8;
    } */

    .lt-sim li{
        float: left;
        border-radius: 0.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        border: 1px solid #005094
        ;
        box-shadow: #005064;
        font-size: 15px;
    }
    .lt-sim a{
        padding: 4px;
        color: black;
        font-size: 12px;
        font-weight: bold;
        line-height: 10px;
        float: left;
        margin
    }
    .box-sim {
        padding: 0px 10px;
        /* display: grid; */
        float: left;
        width: 100%;
        border: none;
        margin-bottom: 8px;
    }
    .box-sim .sim-nhamang .icon {
        padding: 13px 0 12px 44px;
        margin-bottom: 5px;
        font-size: 15px;
        margin-top: 2px; 
        background-size: contain;
    }
    .box-sim .sim-nhamang .icon{
        font-size: 12px;
    }
    .sv + .sv {
        margin-left: 21px;
    }
    ul > li.sv{
        padding: 1x;
        border: 1px dotted #005094;
        color:#3097d1 !important
    }
    .sim-nhamang .icon-vt {
        background: url('../imgs/Gif/mang-vtm.png') 0 no-repeat;
        width: 33%;
        background-size: contain;
        margin-bottom: 10px;
    }
    
    .sim-nhamang .icon-vn {
        background: url('../imgs/Gif/mang-mbm.png') 0 no-repeat;
        width: 33%;
        background-size: contain;
        margin-bottom: 10px;
    }
    
    .sim-nhamang .icon-mb {
        background: url('../imgs/Gif/mang-vnpm.png') 0 no-repeat;
        width: 33%;
        background-size: contain;
        margin-bottom: 10px;
    }
    .sim-nhamang .icon-vnmb{
        background: url('../imgs/Gif/mang-vnmb.png') 0 no-repeat;
        width: 33%;
        background-size: contain;
        margin-bottom: 10px;
    }
    .gr .tt992{
        color: white;
        padding: 5px;
        text-transform: uppercase;
        font-weight: bolder;
    }
    .gr li{
        display: grid;
        width: 48%;
        float: left;
    }
    .gr{
        border-radius: 1px;
        margin-top: 50px;
        text-align: center;
    }
    .box3{
        color: red;
    }
    .nav ul.mobile{
        width: 100%;
        min-height: 50px;
        margin-top: 20px;
    
    }
    .nav .mobile > .mb-i{
        text-align: center;
        display: inline-block;
        width: 32%;
        font-size: 14px;
        text-transform: uppercase;
        padding: 10px;
        font-weight: bold;
    }
    .nav .mobile > .mb-i > a{
        text-decoration: none;
    }
    .nav .mobile > .mb-i:hover > a{
        color: #ee0d2b;
    }
    .none{
        display: none;
    }
    .abc{
        position: relative;
    }
    .z{
        z-index: 111111;
        position: absolute;
        top: -1460px;
        left: 0;
        right: 0;
    }
    .zz{
        border-top: 1 px solid black;
        z-index: 9999;
        position: absolute;
        top: 2750px;
        left: 0;
        right: 0;
    }
    #txtse{
        text-indent: 10px;
    }
    .b2-list li{
        width: 48%;
        margin: 1%;
        float: left;
        border: 1px solid black;
        text-align: center;
    }
    .b2-list li{
        width: 48%;
        margin: 1%;
        float: left;
        border: 1px solid #3097d1;
        text-align: center;
        border-radius: 0.3rem;
        background-color: #fff;
    }
    .b2-list li:hover{
        background-color: #1d9ce5;
    }
    .b2-list li:hover a{
        color: white !important;
    }
    .b2-list li a{
        color: #005064!important;
        font-weight: 700;
        line-height: 32px;
    }

    .b3-list{
        margin-top: 10px;
    }
    .b3-list li{
        width: 48%;
        margin: 1%;
        float: left;
        border: 1px solid #3097d1;
        text-align: center;
        border-radius: 0.3rem;
        background-color: #fff;
    }
    .b3-list li:hover{
        background-color: #1d9ce5;
    }
    .b3-list li:hover a{
        color: white !important;
    }
    .b3-list li a{
        color: #005064!important;
        font-weight: 700;
        line-height: 32px;
    }
    
    .b4-list{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .b4-list li{
        width: 48%;
        margin: 1%;
        float: left;
        border: 1px solid #3097d1;
        text-align: center;
        border-radius: 0.3rem;
        background-color: #fff;
    }
    .b4-list li:hover{
        background-color: #1d9ce5;
    }
    .b4-list li:hover a{
        color: white !important;
    }
    .b4-list li a{
        color: #005064!important;
        font-weight: 700;
        line-height: 32px;
    }
    
}
@media screen and (max-width: 768px){
    .n768{
        top: 200px;
    }

}
@media screen and (min-width: 376px) and (max-width: 414px){
    #sim-tt{
        top: 1300px !important;
    }
    .sim-tt{
        top: 4800px  !important;
    }
    .z-tt1{
        top: 4880px !important;
}
    #right{
        top: 20px;
    }
    #main{
        top: -1280px; 
        padding: 0 10px !important;

    }

    #footer-nav{
        margin-top: 179px !important;
    }
    .gr{
        margin-top: 0px;
    }
    .codinh{
        width: 100%;
    }
    .zz{
        top: 2780px;
        left: 0;
        right: 0;
    }
    .zzz{
        border-top: 1 px solid black;
        z-index: 999;
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
    }
}
/* Iphone 6 */
/* =========================================================== */
@media screen and (max-width: 375px){
    .ftt1{
        top: -360px !important;
    }
    .r2{
        top: 7px !important;
    }
    .z-tt2{
        top: 4775px !important;
    }
    .r1{
        top: 52px !important;
    }
    .zzz375{
        top: -1px !important;
    }
    .z375{
        top: 2800px;
    }
    #right{
        top: 30px;
    }
    #main{
        top: -1260px; 

    }
    #sim-tt{
        top: 1280px;
    }
    #footer-nav{
        margin-top: 439px !important;
    }
    div.ftt{
        position: relative;
        top: -425px;
    }
    div.ftt1{
        position: relative;
        top: -405px;
    }
   .zzz{
       position: relative;
       top: -250px;
   }
   .#footer-nav{
    margin-top: -248px !important;
    }

}


/* =========================================================== */

@media screen and (max-width: 1023px) {
    .km1{
        top: 20px; right: 10px; 
    }
    .km span{
        margin: 2px;
        display: inline-block;
    }
}
@media screen and (min-width: 1200px) {
    .km1-s{
        top: -2px; right: 10px; 
    }
    .km span{
        margin: 2px;
    }
}
@media screen and (min-width: 1024px) {
    .n1{
        display: none !important;
    }
    .km1{
        top: 20px; right: 10px; 
    }
    .km span{
        margin: 2px;
        display: inline-block;
    }
    #main{
        /* margin-right: 10px; */
        /* margin-left: 10px; */
    }
}
@media screen and (max-width: 321px) {
    .menu-mobile li.mobile a{
        font-size: 13px;
    }
    .km-banchay span{
        padding: 5px 5px;
    }
}


/* SIM TRA GOP */

.bl-f{
    border-bottom: 1px solid #ddd;
}
.bl-f div.h {
    /*height: 15px;*/
    background: #3097d1;
    color: #fff;
    border-radius: 0;
    margin-bottom: 0px;
    border-bottom: 1px solid #ddd;

}
.step{
    padding: 10px;
}
.h{
    color: #fff;
    background: #3097d1;
    font-family: Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    margin: 0px;
    padding: 5px 13px;
}
.des-tg{
    margin: 15px 0px;
}
.des-tg-dt{
    font-size: 13px;
    line-height: 17px;
}
.des-tg-dt > h2{
    font-size: 12px;
    font-weight: bold;
    font-family: arial !important;
    padding-left: 0px;
    line-height: 17px;
}
.des-tg-dt img{
    margin: 10px 0px;
}
div.news a{
    text-decoration: none;
}
div.news a:hover{
    color: #d41515;
}

@media screen and (max-width: 575px){
.b2-list{
    margin-top: 10px;
}
.b2-list li{
    width: 48%;
    margin: 1%;
    float: left;
    border: 1px solid #3097d1;
    text-align: center;
    border-radius: 0.3rem;
    background-color: #fff;
}
.b2-list li:hover{
    background-color: #1d9ce5;
}
.b2-list li:hover a{
    color: white !important;
}
.b2-list li a{
    color: #005064!important;
    font-weight: 700;
    line-height: 32px;
}

.b3-list{
    margin-top: 10px;
}
.b3-list li{
    width: 48%;
    margin: 1%;
    float: left;
    border: 1px solid #3097d1;
    text-align: center;
    border-radius: 0.3rem;
    background-color: #fff;
}
.b3-list li:hover{
    background-color: #1d9ce5;
}
.b3-list li:hover a{
    color: white !important;
}
.b3-list li a{
    color: #005064!important;
    font-weight: 700;
    line-height: 32px;
}

.b4-list{
    margin-top: 10px;
    margin-bottom: 10px;
}
.b4-list li{
    width: 48%;
    margin: 1%;
    float: left;
    border: 1px solid #3097d1;
    text-align: center;
    border-radius: 0.3rem;
    background-color: #fff;
}
.b4-list li:hover{
    background-color: #1d9ce5;
}
.b4-list li:hover a{
    color: white !important;
}
.b4-list li a{
    color: #005064!important;
    font-weight: 700;
    line-height: 32px;
}
}

div.step a{
    color: #005094;
    text-decoration: none;
}
div.step:hover a{
    color: #d41515
}
.fl-jd{
    padding-left: 10px;
}
.bd{
    border-color: #005094;
}
.fs-22{
    font-size: 22px;
}

.disc li {
    color: #005094;
    background: url('/assets/imgs/Origin/check.png') no-repeat left top;
    padding: 0 0px 1px 20px;
    list-style: none;
    font-size: 13px;
}
.btn-bl{
    background-color:#1d9ce5;
    border-color:#1d9ce5;
    color:white
}

.btn-orange:hover{
    background-color:#1d9ce5c7;
    color:white !important
}
.datsim{
    background: #057aac;
}
.cb1{
    color: #057aac;
}
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}.fs-17{
    font-size: 17px;
}.fs-18{
    font-size: 18px;
}
span.xt > a{
    text-decoration: none;
}
span.xt > a:hover{
    color: red;
}
span.xt > a:hover{
    color: rgb(238, 139, 11)
}

span.cm .cb > a{
    text-decoration: none;
}
span.cm .cb > a:hover{
    color: red;
}
span.cm .cb > a:hover{
    color: rgb(238, 139, 11);
}
li.duoi a{
    text-decoration: none;
    color: #0d73adda;
}
li.duoi:hover a{
    text-decoration: none;
    color: rgb(238, 139, 11);
    font-weight: 500;
    font-style: italic;
}
ul >li.duoi{
    padding-left: 10px;
}
.align-self-center{-ms-flex-item-align:center!important;align-self:center!important}
.ctk{
    color: #28a745;
}
.tksim  a.tkso{
    text-decoration: none;
}
.tksim  a.tkso:hover{
    color: #199135;
}
.bgtt{
    background: #3097d1;
    color: white;
}
.bdnews{
    border: 1px solid #3097d1;

}
.fs-13{
    font-size: 13px;
}
.fs-12{
    font-size: 12px;
}
div.title h2 a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
div.title h2:hover a{
color: #0098db;
}
h3.ckbh{
    text-align: left;

}
.ck2 span a{
    text-decoration: none;
}
.ck2 span:hover a{
    color: red;
}
.ds-ct {
    border: 1px solid;
    padding: 10px;
    max-height: 500px;
    overflow: scroll;
    margin: 20px 0;
}
.ttdk h1{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-top: 2px;
    color: #1d9ce5;
}
.cmtd{
    padding-bottom: 10px;
}
.ctmd .box4g{
    margin: auto;
    text-align: center;
    
}
.ctmd .box4g > .bitem{
    width: 32%;
    display: inline-block;
    min-height: 260px;
    border-radius: 1.0rem;

}
div.bitem{
    box-shadow: 25px 28px 100px 15px rgba(28, 53, 197, 0.52) inset;
}
div.bidata ul > li h2{
    background: rgb(9, 79, 160);
    border-top-right-radius: 1.0rem;
    border-top-left-radius: 1.0rem;
    color: #ffffff;
    padding: 5px 0;
}
div.bidata ul > li{
    line-height: 30px;
}
button.btndk{
    background: rgb(14, 84, 165);
    margin-bottom: 10px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    border-radius: 0.8rem;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    transition: opacity .2 ease;
}
.btnbg{
    background-color: #33a7f4;
    box-shadow: 2px 2px #60a5e2;

}
.btndk:hover{
    color: rgb(211, 181, 50);
}
.mg-10{
    margin-top: 10px;
}